
/*
1. Position
2. Box Model
3. Fonts
4. Visual themes
5. Miscellaneous
*/
:root{
    /*    Colors    */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D4;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --grey:#BABABA;
    --black:#282623;
    --off-white:#FAF8F7;
    --white:#FFFFFF;


}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;

}

/*Header styles*/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    justify-content: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    margin-top: 25px;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Shadow*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('/assets/icons/down-arrow.svg');
}


/*Main*/

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container .backgroundImg{

    
    width: 200px;
    height: 200px;
    background-image: url('/assets/img/Bitcoin.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 50px;

}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;

}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}


.main-exchange-container--title h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 24px;
    color: var(--warm-black);

}

.main-exchange-container--title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 24px;
    color: #757575;

}


/*Table*/

.main-currency-table, .main-commissions-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.currency-table--title{
    
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);

}
.commissions-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.currency-table--container, .commissions-table--container{

    width: 90%;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
    height: 250px;

}

.currency-table--container table, .commissions-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td, .commissions-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--white);
    
}

.currency-table--container .table__top-left{

    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right{

    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-right{

    border-radius: 0 0 15px 0;
}

.currency-table--container .table__bottom-left{

    border-radius: 0 0 0 15px;
}

.currency-table--container .table__right, .commissions-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}


.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('/assets/icons/trending-down.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

}

.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('/assets/icons/trending-up.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

}

.currency-table--date{

    margin-top: 15px;
    width: 195px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}
.currency-table--date p, .commissions-table--date p{
    color: var(--warm-black);
    font-size: 1.2rem;
    line-height: 1.5rem;
    line-height: 300;
}

.commissions-table--date{

    margin-top: 15px;
    width: 195px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;

}

.main-exchange-container--icon{
    position: absolute;
    left: calc(50% - 20px);
    top: 1585px;
    display: block;      
    width: 40px;
    height: 40px;
    background-image: url('/assets/icons/batata.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}





/*Benefits section*/


.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('/assets/icons/batata.svg');
    top: -10px ;
    left: calc(50% - 20px);
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}


.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}


.product-detail--card{

    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;

    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);

}

.icon-card{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock{
    background-image: url('/assets/icons/clock.svg');
}

.eye{
    background-image: url('/assets/icons/eye.svg');
}

.dollar-sign{
    background-image: url('/assets/icons/dollar-sign.svg');
}

.check-circle{
    background-image: url('/assets/icons/check-circle.svg');
}

.product--card-title{

    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);

}

.product--card-body{

    
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;

}

/*Img Section*/

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(/assets/img/bitcoinbaby2x.jpg);
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
    text-align: center;
}

/*Plans section*/

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.main-plans-text--container{

    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    
    

}

.main-plans-text--container h2{

    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
    
    
}

.main-plans-text--container p{

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 30px;
    color: #757575 ;
}



.plans-detail--card{
    position: relative;

    width: 50%;
    min-width: 180px;
    max-width: 220px;
    min-height: 240px;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    background-color: var(--off-white);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

}

.plans-detail--recommended{
    position: absolute;
    width: 100px;
    height: 30px;
    padding: 8px;
    text-align: center;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    top: -15px;
    left: calc(50% - 50px);
}

.plans-detail--recommended p{
    font-size: 1.2rem;
    font-family: "Inter",sans-serif;
    font-weight: bold;
    color: var(--white);
    line-height: 1.5rem;
}

.plans-detail--card .plans--payment{

    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--warm-black);
    margin-bottom: 8px;

}






