
/*
1. Position
2. Box Model
3. Fonts
4. Visual themes
5. Miscellaneous
*/
:root{
    /*    Colors    */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D4;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --grey:#BABABA;
    --black:#282623;
    --off-white:#FAF8F7;
    --white:#FFFFFF;


}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;

}

/*Header styles*/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    justify-content: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}

header img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 2.5rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /*Shadow*/
    box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('/assets/icons/down-arrow.svg');
}
